body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: sans-serif;
  background-color: lightyellow;
    
  
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}


.nav-item {
  font-size: large;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-weight: lighter;
  padding-left: 10px;

}

.navbar-brand {
  font-size: x-large;
  font-weight: bolder;
  color:red;
}

a {
  text-decoration: none;
  font-size: large;
  font-weight: lighter;
  color: black;
 
  
}

a:active {
  color: white;
}

a:hover{
  color: darkgray;
}

.copyright {
  color: whitesmoke;
  font-size: small;
}

.submit {
  background-color: lightskyblue;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.reset {
  background-color: lightskyblue;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.email:hover{
  float:left; width: 99.5%;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 700px;
}

.modal-tour .modal-dialog {
  width: 700px;
}

#search {
  padding-right: 20px;
}